doctype html
html(lang="en" class="notranslate" translate="no")
  head
    meta(name="robots" content="noindex, nofollow")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma-tooltip/1.2.0/bulma-tooltip.min.css" integrity="sha512-eQONsEIU2JzPniggWsgCyYoASC8x8nS0w6+e5LQZbdvWzDUVfUh+vQZFmB2Ykj5uqGDIsY7tSUCdTxImWBShYg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="/device/assets/css/style.css")
    script(src="/device/assets/js/js.js")
    block pageJS
  body
    div(class="content columns is-vcentered")
      div(class="column is-2 is-offset-3" style="border-right: 1px solid #dbdbdb;")
        if partner
          img(class="image" src="/device/assets/images/"+partner+".png")
        else
          img(class="image" src="/device/assets/images/kcl.png")
      div(class="column is-3 is-offset-1")
        block content
      div(class="column is-4")
    div(class="columns" style="text-align:right;")
      div(class="column is-10 is-offset-1")
        footer(class="is-size-7")
          a(href="")
            | privacy 
          | &#183; 
          a(href="")
            | terms 
          | &#183; 
          a(href="")
            | help 
          | &#183; kclhi &#169; 2022
