extends layout
  
block pageJS
  script.
    ready(function(event) { 
      if(new URL(window.location).hash=='#connect') showConnect();
      nhsFieldCheck();
      addNhsFieldCheck();
      addNhsClick();
      addBackNhsClick(); 
    });

block content
  div(id="nhs")
    div(class="field")
      label(class="label") NHS number
      div(class="control has-icons-left has-icons-right")
        input(id="nhs-input" class="input" type="text" placeholder="000 000 0000" value=patientId)
        span(class="icon is-small is-left")
          i(class="fas fa-user")
        span(class="icon is-small is-right nhs-warning" style="display:none;")
          i(class="fas fa-exclamation-triangle")
      p(class="help is-danger nhs-warning" style="display:none;")
        | Please enter 10 digits
    div(class="field is-grouped")
      div(class="control")
        button(id="nhs-next" class="button is-link" disabled) Next
  div(id="connect" style="display:none;")
    div(class="field")
      label(class="label") Select service:
      div(class="columns is-vcentered")
        div(class="column is-half")
          a(href=withingsRedirectUrl)
            img(class="image" src="/device/assets/images/withings.jpg" style="border: 1px solid;")
    div(class="field is-grouped")
      div(class="control")
        button(id="nhs-back" class="button is-link") Back
  
