{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "camelcase": ["error", { 
      "allow": [""]
    }],
    "no-console": 1,
    "space-infix-ops": "error",
    "no-duplicate-imports": "error",
    "space-before-function-paren": ["error", "never"],
    "keyword-spacing": ["error", { 
      "overrides": {
        "if": { "after": false },
        "for": { "after": false },
        "while": { "after": false },
        "catch": { "after": false }
      } 
    }],
    "@typescript-eslint/type-annotation-spacing": ["error", { 
      "before": false, "after": false, 
      "overrides": { 
        "arrow": { "before": true, "after": true }
      } 
    }]
  }
}
